<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
        <title>Fileboy</title>
        <link href="/css/fileboy.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Fileboy</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if settings.user && settings.user.roles.indexOf("user") !== -1 %}
                    <li><a href="/my/files">My Files</a></li>
                    {% endif %}
                    {% if settings.user.roles && settings.user.roles.indexOf("admin") !== -1 %}
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/sessions">Sessions</a></li>
                    {% endif %}
                </ul>
                {% if settings.user && settings.user.roles.indexOf("user") !== -1 %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/me">{{settings.user.uid}}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

        {% block body %}{% endblock %}

        <script src="/js/fileboy.min.js"></script>

        {% block footer %}{% endblock %}

    </body>
</html>
