{% extends "layout.html" %}

{% block body %}

<div class="container">
    <p>
        <form class="uid form-signin" role="form">
            <h2>Please sign in</h2>
            <input type="text" class="form-control" placeholder="UID" required autofocus id="uid">
            <div class="alert alert-danger error" style="display:none;"></div>
            <button type="submit" class="btn btn-lg btn-primary btn-block submit">Request Code</button>
            <div class="alert alert-info" style="display:none;"></div>
        </form>
    </p>

    <p>
        <form class="code form-signin" style="display:none;" role="form">
            <input type="text" class="form-control" id="code" placeholder="Code" required autofocus>
            <div class="alert alert-danger error" style="display:none;"></div>
            <button type="submit" class="btn btn-lg btn-primary btn-block submit" value="Confirm">Login</button>
        </form>
    </p>
</div>

<script src="/js/login.js"></script>

{% endblock %}
