{% extends "layout.html" %}

{% block body %}

<div class="container">

    <h1>My Files</h1>

    <div class="table-responsive">
        <table id="files" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Date</th>
                    <th>Downloads</th>
                </tr>
            </thead>
            {% for file in files %}
            <tr>
                <td><a href="{{file.url}}">{{file.file}}</a></td>
                <td>{{file.printableDate}}</td>
                <td>{{file.downloads}}</td>
                <td><a class="delete" data-url="{{file.url}}" href="#"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}

{% block footer %}

<script>FBAdmin.init();</script>

{% endblock %}
